<!DOCTYPE html>
<html lang="en">
  {{>head title}}
  <body>
    <section id="content" class="overlay">
      <h1>Gameover!!</h1>
      <section id="result">
      </section>
      <section id="play">
        <h2>Wanna play again?</h2>
        <button id="restart">Yeah!</button>
      </section>
      {{>footer}}
    </section>
    <script type="text/javascript" src="/js/views/gameover.js"></script>
  </body>
</html>
