<!DOCTYPE html>
<html lang="en">
    {{>head title}}
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/js/model/board.js"></script>
        <script type="text/javascript" src="/js/model/building.js"></script>
        <script type="text/javascript" src="/js/model/player.js"></script>
        <script type="text/javascript" src="/js/model/banana.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/events.js"></script>
    </body>
</html>