<html lang="en">
  {{>head title}}
  <body>
    <section id="content" class="overlay">
      <header>
      <h1>Welcome to Gorillas</h1>
      <p>A duel to the death! Battle against your friends in the skyline of
        Banana City.</p>
      <p>You are a very angry gorilla, armed with an unlimited amount of
        exploding bananas.</p>
      <p>Your goal? To hit your opponent before he can find his target: you!</p>
      <p>Who will be the winner?</p>
      </header>
      <section class="set-up">
        <h2>How Many Players?</h2>
        <div class="player-selection">
          <button id="single-player" onclick="singlePlayerForm()">Single Player</button>
          <button id="two-player" onclick="twoPlayerForm()">Two Players</button>
        </div>
      </section>
      {{>footer}}
    </section>
    <script type="text/javascript" src="/js/views/welcome.js"></script>
  </body>
</html>