* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../imgs/586.jpg) no-repeat center center/cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

#play {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.winner {
    font-size: 50px;
}